@font-face {
  font-family: "rubik";
  src: url("/fonts/rubic/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "druk";
  src: local("DrukWideBold"),
    url("/fonts/DrukWideBold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'rubik';
}

:root {
  --Rubic: 'rubic';
  --light-gray: #ededed;
  --gray-900: #4f555c;
}